os: windows
language: bash

env:
  global:
    - STATE=iis
    - SALT_ARGS="-l debug --local --retcode-passthrough --pillar-root=.salt/pillar --file-root=."

before_install:
  - curl -L https://raw.githubusercontent.com/saltstack/salt-bootstrap/stable/bootstrap-salt.ps1 -o bootstrap-salt.ps1
  - Powershell.exe -ExecutionPolicy Bypass -File bootstrap-salt.ps1 -version 2019.2.0 -pythonVersion 2 -runservice true

install:
#  - sudo mkdir -p /srv && sudo ln -sfn $PWD /srv/formula
  # Show the loaded pillars since the states are generally depending on this
  - salt-call pillar.items $SALT_ARGS
  # See what kind of travis box you're on to help with making your states
  # compatible with travis
  - salt-call grains.items $SALT_ARGS

script:
  - salt-call state.show_sls $STATE $SALT_ARGS
  - salt-call state.sls $STATE $SALT_ARGS

  # Idempotence check
  - salt-call state.sls $STATE $SALT_ARGS > /tmp/second
  - cat /tmp/second
  - bash -c '! grep -q "^Not Run:" /tmp/second'
